<!-- TABS -->
# Connect to SuperDuperDB

:::note
Note that this is only relevant if you are running SuperDuperDB in development mode.
Otherwise refer to "Configuring your production system".
:::

In [ ]:
# <tab: MongoDB>
from pinnacledb import pinnacle

db = pinnacle('mongodb://localhost:27017/documents')

In [ ]:
# <tab: SQLite>
from pinnacledb import pinnacle

db = pinnacle('sqlite://my_db.db')

In [ ]:
# <tab: MySQL>
from pinnacledb import pinnacle

user = 'pinnacle'
password = 'pinnacle'
port = 3306
host = 'localhost'
database = 'test_db'

db = pinnacle(f"mysql://{user}:{password}@{host}:{port}/{database}")

In [ ]:
# <tab: Oracle>
from pinnacledb import pinnacle

user = 'sa'
password = 'pinnacle#1'
port = 1433
host = 'localhost'

db = pinnacle(f"mssql://{user}:{password}@{host}:{port}")

In [ ]:
# <tab: PostgreSQL>
from pinnacledb import pinnacle

user = 'pinnacle'
password = 'pinnacle'
port = 5432
host = 'localhost'
database = 'test_db'

db = pinnacle(f"postgres://{user}:{password}@{host}:{port}/{database}")

In [ ]:
# <tab: Snowflake>
from pinnacledb import pinnacle

user = "pinnacleuser"
password = "pinnaclepassword"
account = "XXXX-XXXX"  # ORGANIZATIONID-USERID
database = "FREE_COMPANY_DATASET/PUBLIC"

snowflake_uri = f"snowflake://{user}:{password}@{account}/{database}"

db = pinnacle(
    snowflake_uri, 
    metadata_store='sqlite:///your_database_name.db',
)

In [ ]:
# <tab: Clickhouse>
from pinnacledb import pinnacle

user = 'default'
password = ''
port = 8123
host = 'localhost'

db = pinnacle(f"clickhouse://{user}:{password}@{host}:{port}", metadata_store=f'mongomock://meta')

In [ ]:
# <tab: DuckDB>
from pinnacledb import pinnacle

db = pinnacle('duckdb://mydb.duckdb')

In [ ]:
# <tab: Pandas>
from pinnacledb import pinnacle

db = pinnacle(['my.csv'], metadata_store=f'mongomock://meta')

In [ ]:
# <tab: MongoMock>
from pinnacledb import pinnacle

db = pinnacle('mongomock:///test_db')

In [ ]:
# <testing: >
import pandas as pd
data = [{'A': 10, 'B': 20, 'C':30}, {'x':100, 'y': 200, 'z': 300}]
df = pd.DataFrame(data=data)
df.to_csv('my.csv')